interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/discovery/v1/apis?preferred=true
  response:
    body:
      string: "{\n  \"kind\": \"discovery#directoryList\",\n  \"discoveryVersion\":
        \"v1\",\n  \"items\": [\n    {\n      \"kind\": \"discovery#directoryItem\",\n
        \     \"id\": \"abusiveexperiencereport:v1\",\n      \"name\": \"abusiveexperiencereport\",\n
        \     \"version\": \"v1\",\n      \"title\": \"Abusive Experience Report API\",\n
        \     \"description\": \"Views Abusive Experience Report data, and gets a
        list of sites that have a significant number of abusive experiences.\",\n
        \     \"discoveryRestUrl\": \"https://abusiveexperiencereport.googleapis.com/$discovery/rest?version=v1\",\n
        \     \"icons\": {\n        \"x16\": \"https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png\",\n
        \       \"x32\": \"https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png\"\n
        \     },\n      \"documentationLink\": \"https://developers.google.com/abusive-experience-report/\",\n
        \     \"preferred\": true\n    },\n    {\n      \"kind\": \"discovery#directoryItem\",\n
        \     \"id\": \"acceleratedmobilepageurl:v1\",\n      \"name\": \"acceleratedmobilepageurl\",\n
        \     \"version\": \"v1\",\n      \"title\": \"Accelerated Mobile Pages (AMP)
        URL API\",\n      \"description\": \"Retrieves the list of AMP URLs (and equivalent
        AMP Cache URLs) for a given list of public URL(s).\",\n      \"discoveryRestUrl\":
        \"https://acceleratedmobilepageurl.googleapis.com/[...]
